@import '../../sass/main.scss';

.collapse {
	background-color: $color-primary;
	max-width: 1023px;
	margin: auto;
	margin-bottom: 30px;
    border-radius: 25px;
	@media screen and (max-width: 1230px){
        margin: 20px 50px ;
    }
	@media screen and (max-width: 600px){
        margin: 20px 0px 0px 0px;
    }

	&_header {
		background-color: $color-secondary;
		border-radius: 5px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
		padding: 10px 20px 10px 15px;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		@media screen and (max-width: 1230px){
			font-size: 15px;
			padding: 5px 10px;
		}
		@media screen and (max-width: 600px){
			font-size: 13px;
		}
		&_title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: $color-primary;
		}
		&_arrow {
			color: $color-primary;
			width: 32px;
			height: 32px;
		}
	}
	&_content{
        padding: 20px;
        font-size: 18px;
        background-color: $color-tertiary;
        transition: visibility 0.1s, opacity 0.2s ease-in, height 0.3s ease-in;
		@media screen and (max-width: 1230px){
			font-size: 14px;
			padding: 15px;
		}
		@media screen and (max-width: 600px){
			font-size: 12px;
			padding: 10px;
		}
    }
    &_hidden{
        visibility: hidden;
        opacity: 0;
        height: 0;
        color: black;
    }
}

.logement_collapse{
	display: flex;
    justify-content: space-between;
    gap: 70px;
    margin: 0px auto 30px auto;
    max-width: 95%;
	@media screen and (max-width: 1230px){
		gap: 0px;
	}
	@media screen and (max-width: 600px){
        display: block;
    }
	&_items {
		width: 50%;
		@media screen and (max-width: 1230px){
			width: 90%;
		}
		@media screen and (max-width: 600px){
			width: 100%;
		}	
	}
	
}
