@import '../../sass/main.scss';

.error {
    margin: 139px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	gap: 139px;
	color: $color-secondary;
	&_info {
		display: flex;
		flex-direction: column;
		text-align: center;
		gap: 139px;
		&_title {
			font-weight: 700;
			font-size: 288px;
		}
		&_content {
			font-weight: 500;
			font-size: 36px;
			text-align: center;
		}
		&_return {
			color: #000;
			font-family: Montserrat;
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: 142.6%;
			text-decoration-line: underline;
		}
	}
}
